@charset "utf-8";
/* CSS Document */

body {
	background: #E5E5E5;
	color: #FFFFFF;
	position: relative;
}

#header {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	background: rgba(0, 38, 58, 0.65);
	padding: 0;
}

#header .col-12 {
	height: 32px;
}

#header .logo {
	width: 26px;
	height: 26px;
 }

#nav {
	position: absolute;
	right: 0;
	top: 0;
}

#nav li {
	list-style: none;
	display: inline-block;
	line-height: 32px;
	color: #ffffff;
	font-weight: 400;
	padding-left: 24px;
}

#nav li a, #nav li a:visited {
	color: #FFFFFF;
}

#header, #header .logo, #header #nav li, #header .col-12 {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#intro {
	background: #00263A;
	min-height: 100%;
	/* animation: colour-fade-bg 60s linear infinite; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	background: #FFFFFF url('../img/about-bg.jpg') center bottom no-repeat;
	background-size: cover;
	padding: 72px 0 36px 0;
}

#intro h1 {
	display: block;
	font-weight: 300;
}
#intro a, #intro a:visited {
	color: #FFFFFF;
	font-weight: 700;
	text-decoration: underline;
}

#intro hr {
	border-bottom: 1px #ffffff dashed;
	opacity: 0.75;
	margin: 48px 0;
}

#intro .logo {
	height: 24px;
	margin: 24px 24px 24px 0;
	filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(14%) hue-rotate(212deg) brightness(104%) contrast(104%);
}

#journey {
	padding: 72px 36px 72px 36px;
	background: #FFFFFF;
	text-align: center;
}

#journey h2 {
	margin-bottom: 72px;
	color: #AAAAAA;
}

.dl-btn {
	height: 50px;
	width: 280px;
	background: #00263A;
	text-decoration: none;
	display: inline-block;
	line-height: 50px;
	border-radius: 5px;
}

.dl-btn span {
	color: #FFFFFF;
	font-weight: 700;
	line-height: 50px;
	text-transform: uppercase;
}


#work {
	padding: 72px 0;
	text-align: center;
}

#work h2 {
	color: #666666;
	margin-bottom: 36px;
}

.work-item {
	position: relative;
	overflow: hidden;
}

.work-item a {
	display: block;
}

.work-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0; bottom: 0; left: 0; right: 0;
	background: rgba(0, 38, 58, 0.65);
	opacity: 0;
	padding: 30% 36px 0 36px;
	color: #FFFFFF;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.work-item:hover .work-overlay {
	opacity: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#contact {
	padding: 72px 0;
	background: #00263A;
	text-align: center;
}

#contact a, #contact a:visited {
	color: #FFFFFF;
}

#contact h3 {
	margin-bottom: 36px;
	font-weight: 400;
}

#contact p {
	font-size: 1rem;
}

#contact .hidden-sm img {
	width: 65%;
}

#contact-list img {
	display: inline-block;
	width: 50px;
	margin-right: 12px;
}

#contact-list li {
	line-height: 60px;
}

#contact-list span {
	width: 85px;
	display: inline-block;
	text-align: left;
}
#footer {
	background: #184182;
	text-align: center;
}

#footer .col-12 {
	margin: 9px 2%;
}

#footer p {
	font-size: 0.875rem;
}

/* ==== ROADMAP ==== */

.event {
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
}

.event__date {
	color: #666666;
	border-bottom: 1px solid #CCCCCC;
	overflow: hidden;
	background: #F5F5F5;
}

.event__content {
	margin: 5px;
	color: #666666;
}

.roadmap__events__event .event {
	z-index: 2 !important;
}

@media only screen and (min-width: 1201px) {
	#my-timeline {
		min-height: 450px;
		margin-bottom: 36px;
	}
	.roadmap__events__event:nth-child(odd) .event {
		top: 61px !important;
	}

	.roadmap__events__event:nth-child(even) .event {
		bottom: 57px !important;
	}
}

@media only screen and (max-width: 1200px) and (min-width: 601px) {
	#my-timeline {
		min-height: 930px;
	}
	.roadmap__events {
		width: 90% !important;
	}

	.roadmap__events__event .event {
		top: -15px !important;
		height: auto !important;
		width: 45% !important;
	}

	.roadmap__events__event:nth-child(odd) .event {
		margin-right: 0 !important;
	}

	.roadmap__events__event:nth-child(even) .event {
		margin-left: 0 !important;
		bottom: auto !important;
	}
}

@media only screen and (max-width: 600px) {
	#intro img {
		display:block;
	}
	#journey {
		padding: 72px 9px 72px 9px;
	}
	#my-timeline {
		min-height: 1000px;
	}
	.roadmap__events {
		width: 90% !important;
	}

	.roadmap__events__event .event {
		top: -15px !important;
		height: auto !important;
	}

	.roadmap__events__event:nth-child(odd) .event {
		margin-left: -25px !important;
	}

	.roadmap__events__event:nth-child(even) .event {
		margin-right: -25px !important;
		bottom: auto !important;
	}
}