@charset "utf-8";
/* CSS Document */

body {
	background: #FFFFFF;		
}

.section {
	text-align: center;
	color: #FFFFFF;
}

.section p {
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 18px;
	font-weight: 200;
	text-align: left;
}

.section p a {
	color: #FFFFFF;
	text-decoration: none;	
	border-bottom: 1px dotted #FFFFFF;	
}

#intro {
	background: #005083;
}

#intro .grid-container {
	height: 280px;
}

#logo {
	margin-bottom: 18px;
	width: 200px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.scroll-tip {
	position: absolute;
	bottom: 30px;
	text-align: center;
	width: 200px;
	margin-left: -100px;
	left: 50%;
	font-size: 18px;
}

.scroll-tip div {
	-webkit-animation-duration: 4s;
	-moz-animation-duration: 4s;
	animation-duration: 4s;
}

#about {
	background: #6BB64B;
}

#about p {
	text-align: left;	
}

#profile-picture {
	width: 200px;
	border: 10px solid #3299e8;
	border-radius: 50%;	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}

.hex-icon {
	width: 200px;
}

#designer {
	background: #4BA9A9;
}

#developer {
	background: #DF2329;
}

#marketer {
	background: #E48A04;
}

#cv {
	background: #58266F;
}

#cv .cv-link {
	border-bottom: 1px dotted #FFFFFF;	
	text-decoration: none;
	color: #FFFFFF;
}

#contact {
	background: #0AB4E2;
}

#contact .grid-10 img, #elsewhere .grid-10 img {
	margin-top: 18px;
	width: 75px;
	max-width: 100%;	
}

#elsewhere {
	background: #7C7B87;
}

#footer {
	height: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;	
	text-align: center;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 30px;
}