@charset "utf-8";
/* CSS Document */

body {
	background: #FFFFFF;		
}

.section {
	text-align: center;
	color: #FFFFFF;
}

.section p {
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 18px;
	font-weight: 200;	
}

.section p a {
	color: #FFFFFF;
	text-decoration: none;	
	border-bottom: 1px dotted #FFFFFF;	
}

#intro {
	background: rgba(55,105,255,0.85);
	background: -moz-linear-gradient(top, rgba(55,105,255,0.85) 0%, rgba(50,153,232,0.85) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(55,105,255,0.85)), color-stop(100%, rgba(50,153,232,0.85)));
	background: -webkit-linear-gradient(top, rgba(55,105,255,0.85) 0%, rgba(50,153,232,0.85) 100%);
	background: -o-linear-gradient(top, rgba(55,105,255,0.85) 0%, rgba(50,153,232,0.85) 100%);
	background: -ms-linear-gradient(top, rgba(55,105,255,0.85) 0%, rgba(50,153,232,0.85) 100%);
	background: linear-gradient(to bottom, rgba(55,105,255,0.85) 0%, rgba(50,153,232,0.85) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3769ff', endColorstr='#3299e8', GradientType=0 );
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#logo {
	margin-bottom: 18px;
}

#about {
	background: rgba(50,153,232,0.85);
	background: -moz-linear-gradient(top, rgba(50,153,232,0.85) 0%, rgba(68,230,255,0.85) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(50,153,232,0.85)), color-stop(100%, rgba(68,230,255,0.85)));
	background: -webkit-linear-gradient(top, rgba(50,153,232,0.85) 0%, rgba(68,230,255,0.85) 100%);
	background: -o-linear-gradient(top, rgba(50,153,232,0.85) 0%, rgba(68,230,255,0.85) 100%);
	background: -ms-linear-gradient(top, rgba(50,153,232,0.85) 0%, rgba(68,230,255,0.85) 100%);
	background: linear-gradient(to bottom, rgba(50,153,232,0.85) 0%, rgba(68,230,255,0.85) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3299e8', endColorstr='#44e6ff', GradientType=0 );
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#about p {
	text-align: left;	
}

#profile-picture {
	width: 200px;
	border: 10px solid #3299e8;
	border-radius: 50%;	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}

#work {
	background: rgba(68,230,255,0.85);
	background: -moz-linear-gradient(top, rgba(68,230,255,0.85) 0%, rgba(51,232,199,0.85) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(68,230,255,0.85)), color-stop(100%, rgba(51,232,199,0.85)));
	background: -webkit-linear-gradient(top, rgba(68,230,255,0.85) 0%, rgba(51,232,199,0.85) 100%);
	background: -o-linear-gradient(top, rgba(68,230,255,0.85) 0%, rgba(51,232,199,0.85) 100%);
	background: -ms-linear-gradient(top, rgba(68,230,255,0.85) 0%, rgba(51,232,199,0.85) 100%);
	background: linear-gradient(to bottom, rgba(68,230,255,0.85) 0%, rgba(51,232,199,0.85) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44e6ff', endColorstr='#33e8c7', GradientType=0 );
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#work .cv-link {
	border-bottom: 1px dotted #FFFFFF;	
	text-decoration: none;
	color: #FFFFFF;
}

#contact {
	background: rgba(51,232,199,0.85);
	background: -moz-linear-gradient(top, rgba(51,232,199,0.85) 0%, rgba(42,255,145,0.85) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(51,232,199,0.85)), color-stop(100%, rgba(42,255,145,0.85)));
	background: -webkit-linear-gradient(top, rgba(51,232,199,0.85) 0%, rgba(42,255,145,0.85) 100%);
	background: -o-linear-gradient(top, rgba(51,232,199,0.85) 0%, rgba(42,255,145,0.85) 100%);
	background: -ms-linear-gradient(top, rgba(51,232,199,0.85) 0%, rgba(42,255,145,0.85) 100%);
	background: linear-gradient(to bottom, rgba(51,232,199,0.85) 0%, rgba(42,255,145,0.85) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33e8c7', endColorstr='#2aff91', GradientType=0 );
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#contact img {
	margin-top: 18px;
	width: 100%;	
}

#footer {
	height: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;	
	text-align: center;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 30px;
}